<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Beneficiaries</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Beneficiary</li>
  </ol>
</nav>


{{#if alert}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{alert}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

{{#each rows}}
<form class="row g-3 need-validation" method="POST" action="/editBeneficiary/{{this.beneficiary_id}}">
  <div class="col-md-6">
    <label for="inputName" class="form-label">Full Name</label>
    <input type="text" class="form-control" id="name" name="name" value="{{this.beneficiary_name}}">
  </div>
  <div class="col-6">
    <label for="inputcontact" class="form-label">Contact Info</label>
    <input type="text" class="form-control" id="username" name="username" value="{{this.contact_info}}">
  </div>
  <div class="col-6">
    <label for="inputLocation" class="form-label">Location</label>
    <input type="text" class="form-control" id="location" placeholder="1234 Main St" name="location" value="{{this.location}}">
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Update</button>
  </div>
</form>
{{/each}}
